div#myDiv{
    width:200px;
    height:200px;
    background-image: url('https://placekitten.com/200/300');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    }